body {
    font-family:'Roboto'
}

.header{
    background: #1F2937;
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap:16px;
}